{{roomStatuses}}
<div class="card" [ngClass]="getBackgroundStyleClass(room.status)">
    <div class="card-body">
        <img [src]="room.capture" class="card-img-top" [alt]="room.location + ' - ' + room.name">
        <h5 class="card-title">{{room.location}} - {{room.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">人數限制：{{room.capacity}}</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" [ngClass]="{'alert alert-success': room.currentNumbersOfParticipants == 0, 'alert alert-danger' : room.currentNumbersOfParticipants != 0}">
                目前狀態：{{room.status}}</li>
            <li class="list-group-item" *ngIf="room.currentMeeting">目前會議：{{room.currentMeeting.subject}}</li>
            <li class="list-group-item" *ngIf="room.nextMeeting">下場會議：{{room.nextMeeting.subject}}</li>
        </ul>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>