<div class="container-fluid ir-rooms">
    <div class="row">
        <app-room class="col-xs-12 col-sm-6 col-md-4 cold-lg-3 col-xl-3 ir-room" [room]="room" *ngFor="let room of rooms"></app-room>
    </div>
</div>